<!DOCTYPE html>
<html>
    <head>
        <title>Spot Roulette - Restaurant List</title>
        <link rel="stylesheet" href="/styles/spotroulette.css">
        <link rel="stylesheet" href='/styles/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles/bootstrap-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo">
    </head>
    <body>
        <h1>Restaurant List</h1>
        <h2><%= destination.name %></h2>
        <a href="../index.html">Return</a>      
    </body>
</html>